@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

header {
  background-image: url("../img/thumb-1920-868752.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
header h1 {
  color: rgb(184, 174, 174);
  font-family: "Oswald", sans-serif;
  text-shadow: 10px 10px 5px black;
  font-size: 50px;
}
h2 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin: 40px 0 10px;
}
header img {
  /* border-top-left-radius: 150px;
  border-top-right-radius: 150px; */
  width: 40%;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: justify;
}
main img {
  max-width: 100%;
}
a {
  color: black;
}
a:hover {
  color: green;

  color: blue;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
  margin-bottom: 0;
}

footer p {
  margin: 0;
}
footer a {
  color: white;
}
footer a:hover {
  opacity: 0.5;
  color: lightblue;
}

.caption {
  color: #999999;
  font-style: italic;
  margin-top: 0;
}
